.list-item {
  cursor: pointer;
  transition: all ease 0.8s;
}

.list-item:hover {
  color: var(--color-primary);
}

.search-wrapper {
  display: block;

  @media (max-width: 768px) {
    display: none;
  }
}

.nav {
  position: sticky;
  top: 0;
  z-index: 1000;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  transition: backdrop-filter 0.3s ease, background-color 0.3s ease;
  background-color: var(--background);
}

.nav.scrolled {
  backdrop-filter: blur(8px);
  background-color: rgba(255, 255, 255, 0.04);
}
