.nav {
  background: #050508;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1rem 5rem;

  h1 {
    font-family: "Blanka", sans-serif;
    font-size: 2.3rem;
    letter-spacing: 0.2rem;
    color: #b40101;
    font-weight: 500;
  }
}

.search {
  display: flex;
}

.navlist {
  display: flex;

  li {
    font-family: "Blanka", sans-serif;
    padding: 0.5rem 2rem;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    transition: all ease 0.8s;
  }

  li:hover {
    color: #b40101;
  }
}
