.list-item {
  cursor: pointer;
  transition: all ease 0.8s;
}

.list-item:hover {
  color: var(--color-primary);
}

.search-wrapper {
  display: block;

  @media (max-width: 768px) {
    display: none;
  }
}
