@import url("https://fonts.cdnfonts.com/css/blanka");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root {
  --font-base: "DM Sans", sans-serif;
  --base-white: #ffffff;
  --base-white-light: #fafafa;
  --base-black: #000000;
  --base-black-light: #121212;
  /* --background: #30382f; */
  --background: #0f0f0f;
  --background-light: #0d0d0d;
  --color-primary: #dc143c;
  --font-feature: 1rem;
  --font-highlight: 0.875rem;
  --font-content: 0.75rem;
  --font-caption: 0.688rem;
  --font-footnote: 0.625rem;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
  --font-weight-bolder: 900;
  --heading-1: 1.375rem;
  --heading-2: 1.25rem;
  --heading-3: 1.125rem;
  --border-radius-s: 4px;
  --border-radius-sm: 6px;
  --border-radius-m: 8px;
  --border-radius-ml: 12px;
  --border-radius-lg: 16px;
  --border-radius-xl: 18px;
  --border-radius-full: 50%;
  --border-xs: 1px;
  --border-sm: 2px;
  --spacing-xxs: 0.125rem;
  --spacing-xs: 0.25rem;
  --spacing-s: 0.375rem;
  --spacing-sm: 0.5rem;
  --spacing-m: 0.625rem;
  --spacing-ml: 0.75rem;
  --spacing-base: 1rem;
  --spacing-l: 1.5rem;
  --spacing-xl: 2rem;
  --spacing-xxl: 3rem;
  --w-1-12: 8.3333333333%;
  --w-2-12: 16.6666666667%;
  --w-3-12: 25%;
  --w-4-12: 33.3333333333%;
  --w-5-12: 41.6666666667%;
  --w-6-12: 50%;
  --w-7-12: 58.3333333333%;
  --w-8-12: 66.6666666667%;
  --w-9-12: 75%;
  --w-10-12: 83.3333333333%;
  --w-11-12: 91.6666666667%;
  --w-1-4: 25%;
  --w-2-4: 50%;
  --w-3-4: 75%;
  --w-1-5: 20%;
  --w-2-5: 40%;
  --w-3-5: 60%;
  --w-4-5: 80%;
  --w-1-6: 16.6666666667%;
  --w-2-6: 33.3333333333%;
  --w-3-6: 50%;
  --w-4-6: 66.6666666667%;
  --w-5-6: 83.3333333333%;
  --w-full: 100%;
  --w-half: 50%;
  --w-auto: auto;
  --shadow-s: 0px 0px 1px 0px #0000000a, 0px 0px 2px 0px #0000000f,
    0px 1px 2px 0px #00000024;
  --shadow-l: 0px 0px 1px 0px #0000000a, 0px 0px 2px 0px #0000000f,
    0px 4px 8px 0px #0000000a;
  --shadow-xl: 0px 4px 12px 0px #0000001f;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  padding: 0;
  color: white;
  background: var(--background);
}
a {
  text-decoration: none;
  color: white;
}
ul {
  text-decoration: none;
  list-style: none;
}


.blanka {
  font-family: "Blanka", sans-serif;
}

.image-center {
  object-fit: fill;
  object-position: center;
}

.base-white {
  color: #ffffff;
}

.bg-base-white {
  background-color: #ffffff;
}

.base-white-light {
  color: #fafafa;
}

.bg-base-white-light {
  background-color: #fafafa;
}

.base-black {
  color: #000000;
}

.bg-base-black {
  background-color: #000000;
}

.base-black-light {
  color: #121212;
}

.bg-base-black-light {
  background-color: #121212;
}

.color-primary-bg {
  color: #272727;
}

.bg-color-primary-bg {
  background-color: #141414;
}

.br-color-primary-bg {
  border-color: #272727;
}

.ot-color-primary-bg {
  outline-color: #272727;
}

.color-base-bg {
  color: #000000;
}

.bg-color-base-bg {
  background-color: #121212;
}

.br-color-base-bg {
  border-color: #000000;
}

.ot-color-base-bg {
  outline-color: #000000;
}

.color-primary-text {
  color: #ffffff;
}

.bg-color-primary-text {
  background-color: #ffffff;
}

.br-color-primary-text {
  border-color: #ffffff;
}

.ot-color-primary-text {
  outline-color: #ffffff;
}

.color-primary-text-light {
  color: #b3b3b3;
}

.bg-color-primary-text-light {
  background-color: #b3b3b3;
}

.br-color-primary-text-light {
  border-color: #b3b3b3;
}

.ot-color-primary-text-light {
  outline-color: #b3b3b3;
}

.color-primary {
  color: var(--color-primary);
}

.bg-color-primary {
  background-color: var(--color-primary);
}

.br-color-primary {
  border-color: var(--color-primary);
}

.ot-color-primary {
  outline-color: var(--color-primary);
}

.color-secondary {
  color: #ffda00;
}

.bg-color-secondary {
  background-color: #ffda00;
}

.br-color-secondary {
  border-color: #ffda00;
}

.ot-color-secondary {
  outline-color: #ffda00;
}

.color-success {
  color: #27ae60;
}

.bg-color-success {
  background-color: #27ae60;
}

.br-color-success {
  border-color: #27ae60;
}

.ot-color-success {
  outline-color: #27ae60;
}

.color-warning {
  color: #eb5757;
}

.bg-color-warning {
  background-color: #eb5757;
}

.br-color-warning {
  border-color: #eb5757;
}

.ot-color-warning {
  outline-color: #eb5757;
}

.brand-100 {
  color: #6a2d70;
}

.bg-brand-100 {
  background-color: #6a2d70;
}

.br-brand-100 {
  border-color: #6a2d70;
}

.ot-brand-100 {
  outline-color: #6a2d70;
}

.brand-200 {
  color: #5e1d64;
}

.bg-brand-200 {
  background-color: #5e1d64;
}

.br-brand-200 {
  border-color: #5e1d64;
}

.ot-brand-200 {
  outline-color: #5e1d64;
}

.brand-300 {
  color: #531759;
}

.bg-brand-300 {
  background-color: #531759;
}

.br-brand-300 {
  border-color: #531759;
}

.ot-brand-300 {
  outline-color: #531759;
}

.brand-400 {
  color: #48124d;
}

.bg-brand-400 {
  background-color: #48124d;
}

.br-brand-400 {
  border-color: #48124d;
}

.ot-brand-400 {
  outline-color: #48124d;
}

.brand-500 {
  color: #3c0f43;
}

.bg-brand-500 {
  background-color: #3c0f43;
}

.br-brand-500 {
  border-color: #3c0f43;
}

.ot-brand-500 {
  outline-color: #3c0f43;
}

.brand-600 {
  color: #2d0b35;
}

.bg-brand-600 {
  background-color: #2d0b35;
}

.br-brand-600 {
  border-color: #2d0b35;
}

.ot-brand-600 {
  outline-color: #2d0b35;
}

.brand-700 {
  color: #1f0727;
}

.bg-brand-700 {
  background-color: #1f0727;
}

.br-brand-700 {
  border-color: #1f0727;
}

.ot-brand-700 {
  outline-color: #1f0727;
}

.brand-800 {
  color: #14051d;
}

.bg-brand-800 {
  background-color: #14051d;
}

.br-brand-800 {
  border-color: #14051d;
}

.ot-brand-800 {
  outline-color: #14051d;
}

.secondary-100 {
  color: #f1d580;
}

.bg-secondary-100 {
  background-color: #f1d580;
}

.br-secondary-100 {
  border-color: #f1d580;
}

.ot-secondary-100 {
  outline-color: #f1d580;
}

.secondary-200 {
  color: #f1cd5e;
}

.bg-secondary-200 {
  background-color: #f1cd5e;
}

.br-secondary-200 {
  border-color: #f1cd5e;
}

.ot-secondary-200 {
  outline-color: #f1cd5e;
}

.secondary-300 {
  color: #f0c43d;
}

.bg-secondary-300 {
  background-color: #f0c43d;
}

.br-secondary-300 {
  border-color: #f0c43d;
}

.ot-secondary-300 {
  outline-color: #f0c43d;
}

.secondary-400 {
  color: #e8b11e;
}

.bg-secondary-400 {
  background-color: #e8b11e;
}

.br-secondary-400 {
  border-color: #e8b11e;
}

.ot-secondary-400 {
  outline-color: #e8b11e;
}

.secondary-500 {
  color: #df9c00;
}

.bg-secondary-500 {
  background-color: #df9c00;
}

.br-secondary-500 {
  border-color: #df9c00;
}

.ot-secondary-500 {
  outline-color: #df9c00;
}

.secondary-600 {
  color: #cc8800;
}

.bg-secondary-600 {
  background-color: #cc8800;
}

.br-secondary-600 {
  border-color: #cc8800;
}

.ot-secondary-600 {
  outline-color: #cc8800;
}

.secondary-700 {
  color: #b77300;
}

.bg-secondary-700 {
  background-color: #b77300;
}

.br-secondary-700 {
  border-color: #b77300;
}

.ot-secondary-700 {
  outline-color: #b77300;
}

.secondary-800 {
  color: #9e5f00;
}

.bg-secondary-800 {
  background-color: #9e5f00;
}

.br-secondary-800 {
  border-color: #9e5f00;
}

.ot-secondary-800 {
  outline-color: #9e5f00;
}

.neutral-100 {
  color: #1a1919;
}

.bg-neutral-100 {
  background-color: #000000;
}

.br-neutral-100 {
  border-color: #1a1919;
}

.ot-neutral-100 {
  outline-color: #1a1919;
}

.neutral-200 {
  color: #181818;
}

.bg-neutral-200 {
  background-color: #181818;
}

.br-neutral-200 {
  border-color: #181818;
}

.ot-neutral-200 {
  outline-color: #181818;
}

.neutral-300 {
  color: #555555;
}

.bg-neutral-300 {
  background-color: #555555;
}

.br-neutral-300 {
  border-color: #555555;
}

.ot-neutral-300 {
  outline-color: #555555;
}

.neutral-400 {
  color: #666666;
}

.bg-neutral-400 {
  background-color: #666666;
}

.br-neutral-400 {
  border-color: #666666;
}

.ot-neutral-400 {
  outline-color: #666666;
}

.neutral-500 {
  color: #777777;
}

.bg-neutral-500 {
  background-color: #777777;
}

.br-neutral-500 {
  border-color: #777777;
}

.ot-neutral-500 {
  outline-color: #777777;
}

.neutral-600 {
  color: #888888;
}

.bg-neutral-600 {
  background-color: #888888;
}

.br-neutral-600 {
  border-color: #888888;
}

.ot-neutral-600 {
  outline-color: #888888;
}

.neutral-700 {
  color: #999999;
}

.bg-neutral-700 {
  background-color: #999999;
}

.br-neutral-700 {
  border-color: #999999;
}

.ot-neutral-700 {
  outline-color: #999999;
}

.neutral-800 {
  color: #b2b2b2;
}

.bg-neutral-800 {
  background-color: #b2b2b2;
}

.br-neutral-800 {
  border-color: #b2b2b2;
}

.ot-neutral-800 {
  outline-color: #b2b2b2;
}

.neutral-900 {
  color: #cccccc;
}

.bg-neutral-900 {
  background-color: #cccccc;
}

.br-neutral-900 {
  border-color: #cccccc;
}

.ot-neutral-900 {
  outline-color: #cccccc;
}

.neutral-1000 {
  color: #e5e5e5;
}

.bg-neutral-1000 {
  background-color: #e5e5e5;
}

.br-neutral-1000 {
  border-color: #e5e5e5;
}

.ot-neutral-1000 {
  outline-color: #e5e5e5;
}

.success-100 {
  color: #2a5b46;
}

.bg-success-100 {
  background-color: #2a5b46;
}

.br-success-100 {
  border-color: #2a5b46;
}

.ot-success-100 {
  outline-color: #2a5b46;
}

.success-200 {
  color: #396f5a;
}

.bg-success-200 {
  background-color: #396f5a;
}

.br-success-200 {
  border-color: #396f5a;
}

.ot-success-200 {
  outline-color: #396f5a;
}

.success-300 {
  color: #4b825f;
}

.bg-success-300 {
  background-color: #4b825f;
}

.br-success-300 {
  border-color: #4b825f;
}

.ot-success-300 {
  outline-color: #4b825f;
}

.success-400 {
  color: #5e9465;
}

.bg-success-400 {
  background-color: #5e9465;
}

.br-success-400 {
  border-color: #5e9465;
}

.ot-success-400 {
  outline-color: #5e9465;
}

.success-500 {
  color: #7dce9f;
}

.bg-success-500 {
  background-color: #7dce9f;
}

.br-success-500 {
  border-color: #7dce9f;
}

.ot-success-500 {
  outline-color: #7dce9f;
}

.success-600 {
  color: #9fdcb5;
}

.bg-success-600 {
  background-color: #9fdcb5;
}

.br-success-600 {
  border-color: #9fdcb5;
}

.ot-success-600 {
  outline-color: #9fdcb5;
}

.success-700 {
  color: #52be80;
}

.bg-success-700 {
  background-color: #52be80;
}

.br-success-700 {
  border-color: #52be80;
}

.ot-success-700 {
  outline-color: #52be80;
}

.success-800 {
  color: #27ae60;
}

.bg-success-800 {
  background-color: #27ae60;
}

.br-success-800 {
  border-color: #27ae60;
}

.ot-success-800 {
  outline-color: #27ae60;
}

.warning-100 {
  color: #5d1d1d;
}

.bg-warning-100 {
  background-color: #5d1d1d;
}

.br-warning-100 {
  border-color: #5d1d1d;
}

.ot-warning-100 {
  outline-color: #5d1d1d;
}

.warning-200 {
  color: #7c2525;
}

.bg-warning-200 {
  background-color: #7c2525;
}

.br-warning-200 {
  border-color: #7c2525;
}

.ot-warning-200 {
  outline-color: #7c2525;
}

.warning-300 {
  color: #9a2e2e;
}

.bg-warning-300 {
  background-color: #9a2e2e;
}

.br-warning-300 {
  border-color: #9a2e2e;
}

.ot-warning-300 {
  outline-color: #9a2e2e;
}

.warning-400 {
  color: #d81e1e;
}

.bg-warning-400 {
  background-color: #d81e1e;
}

.br-warning-400 {
  border-color: #d81e1e;
}

.ot-warning-400 {
  outline-color: #d81e1e;
}

.warning-500 {
  color: #f05a5a;
}

.bg-warning-500 {
  background-color: #f05a5a;
}

.br-warning-500 {
  border-color: #f05a5a;
}

.ot-warning-500 {
  outline-color: #f05a5a;
}

.warning-600 {
  color: #f06161;
}

.bg-warning-600 {
  background-color: #f06161;
}

.br-warning-600 {
  border-color: #f06161;
}

.ot-warning-600 {
  outline-color: #f06161;
}

.warning-700 {
  color: #e63946;
}

.bg-warning-700 {
  background-color: #e63946;
}

.br-warning-700 {
  border-color: #e63946;
}

.ot-warning-700 {
  outline-color: #e63946;
}

.warning-800 {
  color: #e53a3a;
}

.bg-warning-800 {
  background-color: #e53a3a;
}

.br-warning-800 {
  border-color: #e53a3a;
}

.ot-warning-800 {
  outline-color: #e53a3a;
}

.shimmer-light {
  color: linear-gradient(to right, #333333 10%, #444444 18%, #333333 33%);
}

.bg-shimmer-light {
  background-color: linear-gradient(
    to right,
    #333333 10%,
    #444444 18%,
    #333333 33%
  );
}

.br-shimmer-light {
  border-color: linear-gradient(
    to right,
    #333333 10%,
    #444444 18%,
    #333333 33%
  );
}

.ot-shimmer-light {
  outline-color: linear-gradient(
    to right,
    #333333 10%,
    #444444 18%,
    #333333 33%
  );
}

.shimmer-dark {
  color: linear-gradient(to right, #e8e8e8 10%, #dddddd 18%, #e8e8e8 33%);
}

.bg-shimmer-dark {
  background-color: linear-gradient(
    to right,
    #e8e8e8 10%,
    #dddddd 18%,
    #e8e8e8 33%
  );
}

.br-shimmer-dark {
  border-color: linear-gradient(
    to right,
    #e8e8e8 10%,
    #dddddd 18%,
    #e8e8e8 33%
  );
}

.ot-shimmer-dark {
  outline-color: linear-gradient(
    to right,
    #e8e8e8 10%,
    #dddddd 18%,
    #e8e8e8 33%
  );
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.flex-col {
  flex-direction: column;
}

.flex-col-reverse {
  flex-direction: column-reverse;
}

.flex-grow {
  flex-grow: 1;
}

.flex-shrink {
  flex-shrink: 1;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-align-start {
  align-items: flex-start;
}

.flex-align-center {
  align-items: center;
}

.flex-align-end {
  align-items: flex-end;
}

.flex-justify-start {
  justify-content: flex-start;
}

.flex-justify-center {
  justify-content: center;
}

.flex-justify-end {
  justify-content: flex-end;
}

.flex-justify-between {
  justify-content: space-between;
}

.flex-justify-around {
  justify-content: space-around;
}

.flex-justify-evenly {
  justify-content: space-evenly;
}

.border-radius-s {
  border-radius: 4px;
}

.border-top-radius-s {
  border-radius: 4px 4px 0 0;
}

.border-radius-sm {
  border-radius: 6px;
}

.border-top-radius-sm {
  border-radius: 6px 6px 0 0;
}

.border-radius-m {
  border-radius: 8px;
}

.border-top-radius-m {
  border-radius: 8px 8px 0 0;
}

.border-radius-ml {
  border-radius: 12px;
}

.border-top-radius-ml {
  border-radius: 12px 12px 0 0;
}

.border-radius-lg {
  border-radius: 16px;
}

.border-top-radius-lg {
  border-radius: 16px 16px 0 0;
}

.border-radius-xl {
  border-radius: 18px;
}

.border-top-radius-xl {
  border-radius: 18px 18px 0 0;
}

.border-radius-full {
  border-radius: 50%;
}

.br-xs {
  border-width: 1px;
}

.br-top-xs {
  border-top-width: 1px;
}

.br-bottom-xs {
  border-bottom-width: 1px;
}

.br-left-xs {
  border-left-width: 1px;
}

.br-right-xs {
  border-right-width: 1px;
}

.ot-xs {
  outline-width: 1px;
}

.br-sm {
  border-width: 2px;
}

.br-top-sm {
  border-top-width: 2px;
}

.br-bottom-sm {
  border-bottom-width: 2px;
}

.br-left-sm {
  border-left-width: 2px;
}

.br-right-sm {
  border-right-width: 2px;
}

.ot-sm {
  outline-width: 2px;
}

.br-solid {
  border-style: solid;
}

.ot-solid {
  outline-style: solid;
}

.br-dashed {
  border-style: dashed;
}

.ot-dashed {
  outline-style: dashed;
}

.br-dotted {
  border-style: dotted;
}

.ot-dotted {
  outline-style: dotted;
}

.br-none {
  border-style: none;
}

.ot-none {
  outline-style: none;
}

.br-hidden {
  border-style: hidden;
}

.ot-hidden {
  outline-style: hidden;
}

.m-xxs {
  margin: 0.125rem;
}

.mx-xxs {
  margin-left: 0.125rem;
  margin-right: 0.125rem;
}

.my-xxs {
  margin-top: 0.125rem;
  margin-bottom: 0.125rem;
}

.ml-xxs {
  margin-left: 0.125rem;
}

.mr-xxs {
  margin-right: 0.125rem;
}

.mt-xxs {
  margin-top: 0.125rem;
}

.mb-xxs {
  margin-bottom: 0.125rem;
}

.m-xs {
  margin: 0.25rem;
}

.mx-xs {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.my-xs {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.ml-xs {
  margin-left: 0.25rem;
}

.mr-xs {
  margin-right: 0.25rem;
}

.mt-xs {
  margin-top: 0.25rem;
}

.mb-xs {
  margin-bottom: 0.25rem;
}

.m-s {
  margin: 0.375rem;
}

.mx-s {
  margin-left: 0.375rem;
  margin-right: 0.375rem;
}

.my-s {
  margin-top: 0.375rem;
  margin-bottom: 0.375rem;
}

.ml-s {
  margin-left: 0.375rem;
}

.mr-s {
  margin-right: 0.375rem;
}

.mt-s {
  margin-top: 0.375rem;
}

.mb-s {
  margin-bottom: 0.375rem;
}

.m-sm {
  margin: 0.5rem;
}

.mx-sm {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.my-sm {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.ml-sm {
  margin-left: 0.5rem;
}

.mr-sm {
  margin-right: 0.5rem;
}

.mt-sm {
  margin-top: 0.5rem;
}

.mb-sm {
  margin-bottom: 0.5rem;
}

.m-m {
  margin: 0.625rem;
}

.mx-m {
  margin-left: 0.625rem;
  margin-right: 0.625rem;
}

.my-m {
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
}

.ml-m {
  margin-left: 0.625rem;
}

.mr-m {
  margin-right: 0.625rem;
}

.mt-m {
  margin-top: 0.625rem;
}

.mb-m {
  margin-bottom: 0.625rem;
}

.m-ml {
  margin: 0.75rem;
}

.mx-ml {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

.my-ml {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.ml-ml {
  margin-left: 0.75rem;
}

.mr-ml {
  margin-right: 0.75rem;
}

.mt-ml {
  margin-top: 0.75rem;
}

.mb-ml {
  margin-bottom: 0.75rem;
}

.m-base {
  margin: 1rem;
}

.mx-base {
  margin-left: 1rem;
  margin-right: 1rem;
}

.my-base {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.ml-base {
  margin-left: 1rem;
}

.mr-base {
  margin-right: 1rem;
}

.mt-base {
  margin-top: 1rem;
}

.mb-base {
  margin-bottom: 1rem;
}

.m-l {
  margin: 1.5rem;
}

.mx-l {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.my-l {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.ml-l {
  margin-left: 1.5rem;
}

.mr-l {
  margin-right: 1.5rem;
}

.mt-l {
  margin-top: 1.5rem;
}

.mb-l {
  margin-bottom: 1.5rem;
}

.m-xl {
  margin: 2rem;
}

.mx-xl {
  margin-left: 2rem;
  margin-right: 2rem;
}

.my-xl {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.ml-xl {
  margin-left: 2rem;
}

.mr-xl {
  margin-right: 2rem;
}

.mt-xl {
  margin-top: 2rem;
}

.mb-xl {
  margin-bottom: 2rem;
}

.m-xxl {
  margin: 3rem;
}

.mx-xxl {
  margin-left: 3rem;
  margin-right: 3rem;
}

.my-xxl {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.ml-xxl {
  margin-left: 3rem;
}

.mr-xxl {
  margin-right: 3rem;
}

.mt-xxl {
  margin-top: 3rem;
}

.mb-xxl {
  margin-bottom: 3rem;
}

.p-xxs {
  padding: 0.125rem;
}

.px-xxs {
  padding-left: 0.125rem;
  padding-right: 0.125rem;
}

.py-xxs {
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
}

.pl-xxs {
  padding-left: 0.125rem;
}

.pr-xxs {
  padding-right: 0.125rem;
}

.pt-xxs {
  padding-top: 0.125rem;
}

.pb-xxs {
  padding-bottom: 0.125rem;
}

.p-xs {
  padding: 0.25rem;
}

.px-xs {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.py-xs {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.pl-xs {
  padding-left: 0.25rem;
}

.pr-xs {
  padding-right: 0.25rem;
}

.pt-xs {
  padding-top: 0.25rem;
}

.pb-xs {
  padding-bottom: 0.25rem;
}

.p-s {
  padding: 0.375rem;
}

.px-s {
  padding-left: 0.375rem;
  padding-right: 0.375rem;
}

.py-s {
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
}

.pl-s {
  padding-left: 0.375rem;
}

.pr-s {
  padding-right: 0.375rem;
}

.pt-s {
  padding-top: 0.375rem;
}

.pb-s {
  padding-bottom: 0.375rem;
}

.p-sm {
  padding: 0.5rem;
}

.px-sm {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.py-sm {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.pl-sm {
  padding-left: 0.5rem;
}

.pr-sm {
  padding-right: 0.5rem;
}

.pt-sm {
  padding-top: 0.5rem;
}

.pb-sm {
  padding-bottom: 0.5rem;
}

.p-m {
  padding: 0.625rem;
}

.px-m {
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}

.py-m {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}

.pl-m {
  padding-left: 0.625rem;
}

.pr-m {
  padding-right: 0.625rem;
}

.pt-m {
  padding-top: 0.625rem;
}

.pb-m {
  padding-bottom: 0.625rem;
}

.p-ml {
  padding: 0.75rem;
}

.px-ml {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.py-ml {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.pl-ml {
  padding-left: 0.75rem;
}

.pr-ml {
  padding-right: 0.75rem;
}

.pt-ml {
  padding-top: 0.75rem;
}

.pb-ml {
  padding-bottom: 0.75rem;
}

.p-base {
  padding: 1rem;
}

.px-base {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-base {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.pl-base {
  padding-left: 1rem;
}

.pr-base {
  padding-right: 1rem;
}

.pt-base {
  padding-top: 1rem;
}

.pb-base {
  padding-bottom: 1rem;
}

.p-l {
  padding: 1.5rem;
}

.px-l {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.py-l {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.pl-l {
  padding-left: 1.5rem;
}

.pr-l {
  padding-right: 1.5rem;
}

.pt-l {
  padding-top: 1.5rem;
}

.pb-l {
  padding-bottom: 1.5rem;
}

.p-xl {
  padding: 2rem;
}

.px-xl {
  padding-left: 2rem;
  padding-right: 2rem;
}

.py-xl {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.pl-xl {
  padding-left: 2rem;
}

.pr-xl {
  padding-right: 2rem;
}

.pt-xl {
  padding-top: 2rem;
}

.pb-xl {
  padding-bottom: 2rem;
}

.p-xxl {
  padding: 6rem;
}

.px-xxl {
  padding-left: 6rem;
  padding-right: 6rem;
}

.py-xxl {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.pl-xxl {
  padding-left: 6rem;
}

.pr-xxl {
  padding-right: 6rem;
}

.pt-xxl {
  padding-top: 6rem;
}

.pb-xxl {
  padding-bottom: 6rem;
}

.gap-xxs {
  gap: 0.125rem;
}

.gap-row-xxs {
  row-gap: 0.125rem;
}

.gap-col-xxs {
  column-gap: 0.125rem;
}

.gap-xs {
  gap: 0.25rem;
}

.gap-row-xs {
  row-gap: 0.25rem;
}

.gap-col-xs {
  column-gap: 0.25rem;
}

.gap-s {
  gap: 0.375rem;
}

.gap-row-s {
  row-gap: 0.375rem;
}

.gap-col-s {
  column-gap: 0.375rem;
}

.gap-sm {
  gap: 0.5rem;
}

.gap-row-sm {
  row-gap: 0.5rem;
}

.gap-col-sm {
  column-gap: 0.5rem;
}

.gap-m {
  gap: 0.625rem;
}

.gap-row-m {
  row-gap: 0.625rem;
}

.gap-col-m {
  column-gap: 0.625rem;
}

.gap-ml {
  gap: 0.75rem;
}

.gap-row-ml {
  row-gap: 0.75rem;
}

.gap-col-ml {
  column-gap: 0.75rem;
}

.gap-base {
  gap: 1rem;
}

.gap-row-base {
  row-gap: 1rem;
}

.gap-col-base {
  column-gap: 1rem;
}

.gap-l {
  gap: 1.5rem;
}

.gap-row-l {
  row-gap: 1.5rem;
}

.gap-col-l {
  column-gap: 1.5rem;
}

.gap-xl {
  gap: 2rem;
}

.gap-row-xl {
  row-gap: 2rem;
}

.gap-col-xl {
  column-gap: 2rem;
}

.gap-xxl {
  gap: 3rem;
}

.gap-row-xxl {
  row-gap: 3rem;
}

.gap-col-xxl {
  column-gap: 3rem;
}

.w-1-12 {
  width: 8.3333333333%;
}

.w-2-12 {
  width: 16.6666666667%;
}

.w-3-12 {
  width: 25%;
}

.w-4-12 {
  width: 33.3333333333%;
}

.w-5-12 {
  width: 41.6666666667%;
}

.w-6-12 {
  width: 50%;
}

.w-7-12 {
  width: 58.3333333333%;
}

.w-8-12 {
  width: 66.6666666667%;
}

.w-9-12 {
  width: 75%;
}

.w-10-12 {
  width: 83.3333333333%;
}

.w-11-12 {
  width: 91.6666666667%;
}

.w-1-4 {
  width: 25%;
}

.w-2-4 {
  width: 50%;
}

.w-3-4 {
  width: 75%;
}

.w-1-5 {
  width: 20%;
}

.w-2-5 {
  width: 40%;
}

.w-3-5 {
  width: 60%;
}

.w-4-5 {
  width: 80%;
}

.w-1-6 {
  width: 16.6666666667%;
}

.w-2-6 {
  width: 33.3333333333%;
}

.w-3-6 {
  width: 50%;
}

.w-4-6 {
  width: 66.6666666667%;
}

.w-5-6 {
  width: 83.3333333333%;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.w-half {
  width: 50%;
}

.w-auto {
  width: auto;
}

.box-shadow-s {
  box-shadow: 0px 0px 1px 0px #0000000a, 0px 0px 2px 0px #0000000f,
    0px 1px 2px 0px #00000024;
}

.box-shadow-l {
  box-shadow: 0px 0px 1px 0px #0000000a, 0px 0px 2px 0px #0000000f,
    0px 4px 8px 0px #0000000a;
}

.box-shadow-xl {
  box-shadow: 0px 4px 12px 0px #0000001f;
}

.heading-1 {
  font-size: 2.75rem;
  font-weight: 700;
  text-align: center;
}

.heading-2 {
  font-size: 1.75rem;
  font-weight: 700;
}

.heading-3 {
  font-size: 1.5rem;
  font-weight: 700;
}

.feature,
.feature-bold,
.feature-accent,
.feature-emphasis {
  font-size: 1.25rem;
  font-weight: 400;
}

.movie-title{
  font-size: 0.875rem;
  font-weight: 700;
}

.feature-bold {
  font-weight: 700;
}

.feature-accent {
  font-weight: 500;
}

.feature-emphasis {
  font-style: italic;
}

.highlight,
.highlight-bold,
.highlight-accent,
.highlight-emphasis {
  font-size: 1rem;
  font-weight: 400;
}

.highlight-bold {
  font-weight: 700;
}

.highlight-accent {
  font-weight: 500;
}

.highlight-emphasis {
  font-style: italic;
}

.content,
.content-bold,
.content-accent,
.content-emphasis {
  font-size: 0.75rem;
  font-weight: 400;
}

.content-bold {
  font-weight: 700;
}

.content-accent {
  font-weight: 500;
}

.content-emphasis {
  font-style: italic;
}

.caption,
.caption-bold,
.caption-accent,
.caption-emphasis {
  font-size: 0.688rem;
  font-weight: 400;
}

.caption-bold {
  font-weight: 700;
}

.caption-accent {
  font-weight: 500;
}

.caption-emphasis {
  font-style: italic;
}

.footnote,
.footnote-bold,
.footnote-accent,
.footnote-emphasis {
  font-size: 0.625rem;
  font-weight: 400;
}

.footnote-bold {
  font-weight: 700;
}

.footnote-accent {
  font-weight: 500;
}

.footnote-emphasis {
  font-style: italic;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-lowercase {
  text-transform: lowercase;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-capitalize {
  text-transform: capitalize;
}

.text-underline {
  text-decoration: underline;
}

.text-overline {
  text-decoration: overline;
}

.text-line-through {
  text-decoration: line-through;
}

@media screen and (max-width: 500px) {
  .heading-1 {
    font-size: 1.75rem;
  }
}

::-webkit-scrollbar {
  width: 0.4rem;
  background-color: #1e1e2a;
  border-radius: 0.2rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
  border-radius: 5rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #4e8929;
}

.section-heading {
  font-family: "Blanka", sans-serif;
  background: var(--background-light);
}

@media (max-width: 768px) {
  .heading-1 {
    font-size: 1.325rem;
    font-weight: 700;
    text-align: center;
  }

  .heading-2 {
    font-size: 1.25rem;
    font-weight: 700;
  }

  .heading-3 {
    font-size: 1rem;
    font-weight: 700;
  }

  .feature,
  .feature-bold,
  .feature-accent,
  .feature-emphasis {
    font-size: 0.875rem;
    font-weight: 400;
  }

  .movie-title{
    font-size: 0.875rem;
    font-weight: 700;
  }

  .highlight,
  .highlight-bold,
  .highlight-accent,
  .highlight-emphasis  {
    font-size: 0.75rem
  }
}
